
/* Typography */
$main-font: 'Roboto', arial, helvetica, sans-serif;
$font-size-base: 13px;
$line-height-base: 20px;

/*Background*/
$body-bg: #fafafa;

/*Color text*/
$text-color: #666666;
$link-color: #666666;
$blue-color: #1875f0;
$placeholder-color: #b3b3b3;
